<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="h-100">
<head th:replace="partials/head :: head('Finding Crystal')"></head>
<body>
<div class="jumbotron">
    <div class="container d-flex h-100 white-text">
        <div class="row col-sm-12 col-md-6 justify-content-center align-self-center mx-auto">
            <h1 class="display-1">Crystal</h1>
        </div>
    </div>
</div>
<nav th:replace="partials/navbar :: navbar"></nav>
<div>
    <p>test test test</p>
</div>
</body>
</html>