<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="h-100">
<head th:replace="partials/head :: head('Finding Crystal - Login')"></head>
<body class="height-90">
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container d-flex h-100">
    <div class="row col-sm-12 col-md-6 justify-content-center align-self-center mx-auto text-center p-3 card card-block shadow-lg">
        <h1>Login</h1>
        <br>
        <div th:if="${param.error}">
            <p>Invalid Username and Password.</p>
        </div>
        <div th:if="${param.logout}">
            <p>You have been logged out.</p>
        </div>
        <form th:action="@{/login}" method="post">
            <label class="font-weight-bold" for="username">Username</label><br>
            <input id="username" placeholder="Enter username..." name="username" type="text" class="mx-auto w-75 shadow-sm form-control"/><br>
            <label class="font-weight-bold" for="password">Password</label><br>
            <input id="password" placeholder="Enter password..." name="password" type="password" class="mx-auto w-75 shadow-sm form-control"/><br>
            <br>
            <input class="shadow mb-3" type="submit" value="Login"/>
        </form>
<!--        <p style="float: left;" class="p-1 m-0">Don't have an account?</p>-->
<!--        <p style="float: left;" class="p-1 m-0"><a href="/sign-up">Register</a> to submit your recipes today!</p>-->
    </div>
</div>
</body>
</html>