<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Sign Up')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <br>
    <br>
    <br>
    <div class="row col-sm-12 col-md-6 justify-content-center align-self-center mx-auto text-center p-3 card card-block shadow-lg">
        <h1>Create an account</h1>
        <br>
        <form th:action="@{/sign-up}" method="POST" th:object="${user}">
            <label for="firstName" class="font-weight-bold">First Name</label>
            <br>
            <input placeholder="Enter your first name..." th:field="*{first_name}"
                   class="mx-auto w-75 shadow-sm form-control">
            <br>
            <label for="lastName" class="font-weight-bold">Last Name</label>
            <br>
            <input placeholder="Enter your last name..." th:field="*{last_name}"
                   class="mx-auto w-75 shadow-sm form-control">
            <br>
            <label for="username" class="font-weight-bold">Username</label>
            <br>
            <input placeholder="Enter your username..." th:field="*{username}"
                   class="mx-auto w-75 shadow-sm form-control"/>
            <br>
            <label for="email" class="font-weight-bold">E-mail</label>
            <br>
            <input placeholder="Enter your e-mail..." th:field="*{email}"
                   class="mx-auto w-75 shadow-sm form-control"/>
            <br>
            <label for="password" class="font-weight-bold">Password</label>
            <br>
            <input type="password" placeholder="Enter your password..." th:field="*{password}"
                   class="mx-auto w-75 shadow-sm form-control"/>
            <br>

            <button type="button" class="button mx-auto fas fa-file-image fa-3x" id="pickWatermark" onclick="pickMark()"></button>
            <input type="hidden" name="profileImageUrl" id="profileImageUrl" th:field="*{profileImageUrl}">
            <br>
            <input value="Create Account" class="mt-4 shadow-sm submit-button" type="submit"/>


        </form>
    </div>
</div>
<br>
<br>
<br>

<!--<th:block th:replace="partials/scripts :: scripts"/>-->
<!--<script th:inline="javascript">-->
<!--    var client = filestack.init(document.querySelector('meta.fsapi').content);-->
<!--    //The function pickMark now will open the file picker-->
<!--    function pickMark() {-->
<!--        console.log("Uploading Photo");-->
<!--        //Opening the file picker here-->
<!--        client.pick({-->
<!--            accept: 'image/*',-->
<!--            maxFiles:1-->
<!--        }).then(function(result) {-->
<!--            console.log("File url: " + result.filesUploaded[0].url);-->
<!--            console.log(pickWatermark);-->
<!--            document.getElementById("profileImageUrl").value = result.filesUploaded[0].url;-->
<!--        });-->
<!--    }-->

<!--</script>-->

</body>
</html>