<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Navbar')"></head>

<body>



<!--NAVBAR START-->
<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-xl sticky-top">
<!--        <a th:href="@{/}" class="pull-left pl-2 my-1"><img class="nav-logo" src="/images/imagescontainer/PantryChef%20Logo%201500x1500.png"></a>-->
        <a th:href="@{/}" class="navbar-brand-text">Home</a>
        <button class="navbar-toggler my-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="custom-toggler navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto text-right pr-2">
                <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link navbar-a-links" th:href="@{/}">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-a-links" th:href="@{/}">Images</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-a-links" th:href="@{/}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <form th:action="@{/logout}" th:method="post" class="pull-right">
                                <button class="nav-link navbar-btn">Logout</button>
                            </form>
                        </li>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link navbar-a-links" th:href="@{/}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-a-links" th:href="@{/}">Images</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-a-links" th:href="@{/}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-a-links" th:href="@{/sign-up}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-a-links" th:href="@{/login}">Login</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</th:block>
</body>
</html>


