.jumbotron {
    background-image: url("https://images.pexels.com/photos/53893/pexels-photo-53893.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    /*background-size: initial;*/
    opacity: 0.9;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.display-1{
    color: white !important;
    font-family: 'Pacifico', cursive;
    margin-bottom: 1.5em;
}
@media (max-width: 320px)
{
    .display-1{
        color: white !important;
        font-size: 4em;
    }
    .jumbotron{
        height: 50vh;
        width: 100%;
    }

}
/*@media only screen and (max-width: 600px) {*/
/*    .display-1{*/
/*        font-size: 6em;*/
/*    }*/
/*    .jumbotron{*/
/*        height: 50vh;*/
/*        width: 100%;*/
/*    }*/
/*}*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    .display-1{
        color: white !important;
        font-size: 6em;
    }
    .jumbotron{
        height: 50vh;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .display-1{
        color: white !important;
        font-size: 7em;
    }
    .jumbotron{
        height: 50vh;
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .display-1{
        color: white !important;
        font-size: 8em;
    }
    .jumbotron{
        height: 50vh;
        width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .display-1{
        color: white !important;
        font-size: 8em;
    }
    .jumbotron{
        height: 50vh;
        width: 100%;
    }
}