
.navbar {
    padding: 0 !important;
}
.navbar-toggler-icon {
    height: auto!important;
}
.navbar-nav{
    /*background-color:#0E3E4F;*/
}

.navbar{
    /*background-color:#0E3E4F;*/
}

.navbar-a-links{
    color: deepskyblue !important;
}

.navbar-a-links:hover {
    color:hotpink !important;
    /*-ms-transform: scale(1.1); !* IE 9 *!*/
    /*-webkit-transform: scale(1.1); !* Safari 3-8 *!*/
    /*transform: scale(1.1);*/
}

.navbar-brand-text {
    font-family: 'Pacifico', cursive;
    color: deepskyblue !important;
    font-size: 25px;
    text-decoration: none;
    margin-left: 10px;
}

.navbar-brand-text:hover {
    text-decoration: none;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.nav-logo {
    height: 2.5em;
    width: auto;
}

.nav-logo:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.navbar-btn {
    outline: none;
    border: 0;
    /*background: #0E3E4F;*/
}
